:root{
    --main-color: #d9a308;
    --btn-color: #1DA1F2;
    --tamanho: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

hr{
    margin: 10px 0px;
    padding: 0%;
    width: 100%;
    border: 2px solid var(--main-color);
}

/*
h1{
    
    padding: 20px;
    padding-bottom: 35px;
    scale: 3;
}
*/

img.logo{
    margin: 20px;
    padding-left: 20px;
    scale: 1.5;
}

.toggle{
    position: absolute;
    top: 20px;
    right: 20px;
}

.toggle input[type='checkbox'] {
    display: none;
}

.toggle label {
    background-color: #777;
    border: 2px solid #555;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 100px;
    height: 50px;
}

.toggle label::after {
    background-color: #555;
    border-radius: 50%;
    content: ' ';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 4px;
    top: 4px;
    transition: all ease-in-out 0.3s;
    width: 42px;
    height: 42px;
}

.toggle input[type='checkbox']:checked ~ label {
    background-color: #00a0fc;
    border-color: #006dc9;
}

.toggle input[type='checkbox']:checked ~ label::after {
    background-color: #0054b0;
    transform: translateX(50px);
}

img.carrinho{
    position: absolute;
    top: 20px;
    right: 150px;
    width: 50px;
    height: 50px;
}

div.total{
    position: absolute;
    top: 15px;
    right: 250px;
    font-size: 20px;
}

button.limpar{
    position: absolute;
    top: 35px;
    right: 330px;
    background-color: var(--btn-color);
    border: none;
    border-radius: 15px;
    overflow: hidden;
    font-size: 17px;
}

div.sobre_container{
    display: flex;
    width: 90vw;
    margin: 20px;
	margin-right:50px;
}

div.container > p{
    width: max-content;
}
div.sobre_container > img{
    border-radius: 15px;
    height: var(--tamanho);
    width: var(--tamanho);
}

.bar {
    margin: 0%;
    padding: 0%;
    border-left: 2.5px solid var(--main-color);
    height: var(--tamanho);
    margin: 10px;
}

div.produtos{
    display: flex;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 98vw;
    gap: 5px;
    /*border: 2px solid var(--main-color);*/
    border-radius: 25px;
    flex-wrap: wrap;
    padding: 10px;
}

div.produto{
    margin: 0px;
    text-align: center;
	border: 1px solid var(--main-color);
    border-radius: 15px;
    padding: 5px;
    height: auto;
    width: calc(calc(96vw/ 3) - 20px);
    font-size: 20px;  
    overflow: hidden;
}

div.produto > img:hover{
    scale: 1.15;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
}

div.produto:has(img:hover){
    overflow: visible;
}

div.produto > img{
    position: static;
    border-radius:  15px;
    margin-bottom: 0px;
    height: calc(calc(96vw/ 3) - 30px);
    width: calc(calc(96vw/ 3) - 30px);
}

button.compra{
    background-color: var(--btn-color);
    border: 1px solid var(--btn-color);
    border-radius: 15px;
    width: 100%;
    font-size: 20px;
    overflow: hidden;
}

button.compra:hover{
    box-shadow: 10px 0px 10px -5px rgba(0,0,0,0.75);
}

button.compra:focus{
    --cor:#146fac;
    border: var(--cor);
    background-color: var(--cor);
}